# Hi there 👋

Founder at [semasquare](https://github.com/semasquare) <img class="emoji" width="16" height="16" src="https://avatars1.githubusercontent.com/u/38842282?s=200&v=4">

In my freetime I like to help with the development of open source projects 👨‍💻

I love the idea of the [elementary](https://github.com/elementary) project and try to support the project as much as I can in the area of software development.

<details><summary><b>Features I am working on: {{ open | length }}</b> (Click to expand)</summary>
<p>
<ul>
{% for pr in open -%}
<li>{{ pr.link }}</li>
{% endfor -%}
</ul>
</p>
</details>

<details><summary><b>Features I have contributed: {{ merged | length }}</b> (Click to expand)</summary>
<p>
<ul>
{% for pr in merged -%}
<li>{{ pr.link }}</li>
{% endfor -%}
</ul>
</p>
</details>

<details><summary><b>Features I have contributed upstream: {{ upstream | length }}</b> (Click to expand)</summary>
<p>
<ul>
{% for pr in upstream -%}
<li>{{ pr.link }}</li>
{% endfor -%}
</ul>
</p>
</details>
